In [1]:
from urllib import response
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [23]:
#Accessing the url

url = 'https://www.booking.com/searchresults.en-gb.html?ss=London&ssne=London&ssne_untouched=London&label=gen173nr-1FCAEoggI46AdIM1gEaFCIAQGYAQm4ARfIAQzYAQHoAQH4AQuIAgGoAgO4AtLB_JEGwAIB0gIkZDg0Y2M3MjYtZjc0Yy00OTI0LWFmNTEtNzFhOTc3MTY0ZjBk2AIG4AIB&sid=828d71aca926f8532f0cb1f47b533b81&aid=304142&lang=en-gb&sb=1&src_elem=sb&src=searchresults&dest_id=-2601889&dest_type=city&checkin=2022-07-16&checkout=2022-07-17&group_adults=2&no_rooms=1&group_children=0&sb_travel_purpose=leisure'

In [24]:
header = {'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36'}

In [25]:
#Get the downloaded web page
get_page = requests.get(url, headers=header)

In [26]:
get_page.status_code

200

In [27]:
response = get_page.content
len(response)

1466174

In [28]:
#Getting the web data using beautiful soup

webpage_data = BeautifulSoup(response, 'html5lib')

In [29]:
# Getting the the hotel name

hotel_name = [name.text for name in webpage_data.findAll('div', {'data-testid' : 'title'})]

In [30]:
hotel_name

['Victory House London',
 'MSK Superior',
 'Angel Townhouse',
 'Sea Containers London',
 'The Montcalm At Brewery London City',
 'Britannia International Hotel Canary Wharf',
 'The Barbican Rooms',
 'St Mark Hotel',
 'Seymour Hotel',
 'NYX Hotel London Holborn by Leonardo Hotels',
 'Middle Eight - Preferred Hotels and Resorts',
 'The Montcalm Marble Arch',
 'Inhabit, Southwick Street',
 'The Londoner',
 'Radisson Blu Edwardian New Providence Wharf Hotel, London',
 'The Chilworth London Paddington',
 'Park Grand London Kensington',
 'Garden Court Hotel',
 'Caring Hotel',
 'Mabledon Court Hotel',
 'The Bridge Hotel',
 'Nobu Hotel London Portman Square',
 'Sapphire Hotel London',
 'City View Hotel',
 'Novotel London Canary Wharf']

In [31]:
rating_decription = [loc.text.strip('Show on map') for loc in webpage_data.findAll('div', {'class' : 'b5cd09854e f0d4d6a2f5 e46e88563a'})]

In [32]:
rating_decription

['Very good',
 'Good',
 'Very good',
 'Fabulous',
 'Good',
 'Review score',
 'Good',
 'Review score',
 'Review score',
 'Very good',
 'Fabulous',
 'Very good',
 'Very good',
 'uperb',
 'Fabulous',
 'Good',
 'Very good',
 'Good',
 'Good',
 'Review score',
 'Good',
 'Fabulous',
 'Review score',
 'Review score',
 'Fabulous']

In [33]:
reviews = [stat.text.strip() for stat in webpage_data.findAll('div', {'class' : 'd8eab2cf7f c90c0a70d3 db63693c62'})]

In [34]:
reviews

['1,912 reviews',
 '224 reviews',
 '278 reviews',
 '4,907 reviews',
 '2,896 reviews',
 '13,500 reviews',
 '2,074 reviews',
 '1,268 reviews',
 '300 reviews',
 '3,738 reviews',
 '1,099 reviews',
 '3,215 reviews',
 '2,651 reviews',
 '904 reviews',
 '2,703 reviews',
 '5,101 reviews',
 '5,340 reviews',
 '2,072 reviews',
 '1,610 reviews',
 '2,565 reviews',
 '1,623 reviews',
 '592 reviews',
 '1,384 reviews',
 '1,060 reviews',
 '4,172 reviews']

In [35]:
rating = [rating.text.strip() for rating in webpage_data.findAll('div', {'class' : 'b5cd09854e d10a6220b4'})]

In [36]:
rating

['8.1',
 '7.4',
 '8.2',
 '8.9',
 '7.2',
 '6.2',
 '7.7',
 '5.5',
 '5.9',
 '8.4',
 '8.9',
 '8.1',
 '8.1',
 '9.2',
 '8.9',
 '7.7',
 '8.3',
 '7.6',
 '7.9',
 '6.6',
 '7.2',
 '8.7',
 '6.3',
 '5.2',
 '8.6']

In [37]:
room_type = [roomtype.text.strip() for roomtype in webpage_data.find_all('span', {'class' : 'df597226dd'})]

In [38]:
room_type

['Classic Double Room',
 'Deluxe Studio',
 'Superior Suite',
 'Standard',
 'Deluxe Double Room',
 'Standard Double Room without Window',
 'Superior Double Room',
 'Double Room',
 'Twin Room',
 'Superior Double Room',
 'Classic Chic',
 'Deluxe Double Room',
 'Deluxe Double Room',
 'King Room',
 'Superior King or Twin Room',
 'Compact Double Room',
 'Superior Double Room',
 'Double Room',
 'Double Room with Private Bathroom',
 'Double Room',
 'Double Room',
 'Deluxe Double or Twin Room with Balcony',
 'Double Room',
 'Standard Double Room',
 'Superior Double Room']

In [39]:
room_price = [reviews.text.strip(' reviews') for reviews in webpage_data.findAll('span', {'class' : 'fcab3ed991 bd73d13072'})]

In [40]:
room_price

['£324',
 '£176',
 '£240',
 '£426',
 '£226',
 '£139',
 '£214',
 '£135',
 '£150',
 '£449',
 '£455',
 '£449',
 '£276',
 '£635',
 '£299',
 '£355',
 '£324',
 '£239',
 '£269',
 '£194',
 '£175',
 '£709',
 '£130',
 '£170',
 '£269']

In [ ]:
room_price = [reviews.text.strip(' reviews') for reviews in webpage_data.findAll('span', {'class' : 'fcab3ed991 bd73d13072'})]