In [1]:
from urllib import response
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
#Accessing the url

url = 'https://www.booking.com/searchresults.en-gb.html?ss=London&ssne=London&ssne_untouched=London&label=gen173nr-1FCAEoggI46AdIM1gEaFCIAQGYAQm4ARfIAQzYAQHoAQH4AQuIAgGoAgO4AtLB_JEGwAIB0gIkZDg0Y2M3MjYtZjc0Yy00OTI0LWFmNTEtNzFhOTc3MTY0ZjBk2AIG4AIB&sid=828d71aca926f8532f0cb1f47b533b81&aid=304142&lang=en-gb&sb=1&src_elem=sb&src=searchresults&dest_id=-2601889&dest_type=city&checkin=2022-07-16&checkout=2022-07-17&group_adults=2&no_rooms=1&group_children=0&sb_travel_purpose=leisure'

In [3]:
header = {'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36'}

In [4]:
#Get the downloaded web page
get_page = requests.get(url, headers=header)

In [5]:
get_page.status_code

200

In [6]:
response = get_page.content
len(response)

1432794

In [7]:
#Getting the web data using beautiful soup

webpage_data = BeautifulSoup(response, 'html5lib')

In [8]:
# Getting the the hotel name

hotel_name = [name.text for name in webpage_data.findAll('div', {'data-testid' : 'title'})]

In [9]:
hotel_name

["Club Quarters Hotel St Paul's, London",
 'New Linden Hotel',
 'The Portico Hotel',
 'Exhibition Court Hotel 4',
 'Sea Containers London',
 'Club Quarters Hotel London City, London',
 'Pembridge Palace Hotel',
 'The Royale Chulan Hyde Park Hotel',
 'Hampton by Hilton London Waterloo',
 'Crowne Plaza London Kings Cross, an IHG Hotel',
 'Best Western Chiswick Palace & Suites London',
 'Montcalm Royal London House-City of London',
 'Roland House Apartments',
 'The Z Hotel Strand',
 'Swinton Hotel',
 'Zedwell Piccadilly',
 'Best Western Corona Hotel',
 'YOTEL London City',
 'Regency Hotel Parkside',
 'DoubleTree by Hilton London Victoria',
 'Signature Townhouse London Hyde Park',
 'Point A Kensington Olympia',
 'Holiday Inn Express London - ExCel, an IHG Hotel',
 'ibis London City - Shoreditch',
 'DoubleTree By Hilton London Excel']

In [10]:
rating_decription = [loc.text.strip('Show on map') for loc in webpage_data.findAll('div', {'class' : 'b5cd09854e f0d4d6a2f5 e46e88563a'})]

In [11]:
rating_decription

['Good',
 'Review score',
 'Good',
 'Review score',
 'Fabulous',
 'Good',
 'Good',
 'Good',
 'Very good',
 'Good',
 'Very good',
 'Very good',
 'Good',
 'Fabulous',
 'Review score',
 'Good',
 'Good',
 'Very good',
 'Very good',
 'Good',
 'Good',
 'Very good',
 'Very good',
 'Very good',
 'Good']

In [12]:
reviews = [stat.text.strip() for stat in webpage_data.findAll('div', {'class' : 'd8eab2cf7f c90c0a70d3 db63693c62'})]

In [13]:
reviews

['3,395 reviews',
 '1,474 reviews',
 '1,233 reviews',
 '1,521 reviews',
 '4,910 reviews',
 '2,866 reviews',
 '1,115 reviews',
 '796 reviews',
 '4,512 reviews',
 '2,445 reviews',
 '2,810 reviews',
 '8,178 reviews',
 '510 reviews',
 '4,192 reviews',
 '2,185 reviews',
 '9,949 reviews',
 '1,720 reviews',
 '2,341 reviews',
 '800 reviews',
 '2,427 reviews',
 '3,896 reviews',
 '3,038 reviews',
 '3,890 reviews',
 '4,988 reviews',
 '3,045 reviews']

In [14]:
rating = [rating.text.strip() for rating in webpage_data.findAll('div', {'class' : 'b5cd09854e d10a6220b4'})]

In [15]:
rating

['7.8',
 '6.9',
 '7.7',
 '5.6',
 '8.9',
 '7.6',
 '7.8',
 '7.1',
 '8.3',
 '7.7',
 '8.1',
 '8.4',
 '7.0',
 '8.7',
 '6.8',
 '7.6',
 '7.4',
 '8.2',
 '8.2',
 '7.8',
 '7.3',
 '8.1',
 '8.2',
 '8.1',
 '7.9']

In [16]:
room_type = [roomtype.text.strip() for roomtype in webpage_data.find_all('span', {'class' : 'df597226dd'})]

In [17]:
room_type

['Small Queen Room',
 'Standard Double Room',
 'Deluxe Double Room',
 'Standard Double Room',
 'Standard',
 'Small Queen Room',
 'Deluxe Double Room',
 'Economy Double Room',
 'Queen Room - Non-Smoking',
 'Standard Room',
 'Standard Double Room',
 'Deluxe Double Room',
 'Studio',
 'Queen Room (Without Window)',
 'Double Room',
 'Accesible Room',
 'Standard Double Room',
 'Queen Room',
 'Double Room',
 'Double Room',
 'Club Double Room',
 'Cosy Double Without Window',
 'Double Room - Non-Smoking',
 'Double SweetRoom',
 'Queen Guest Room']

In [18]:
room_price = [reviews.text.strip(' reviews') for reviews in webpage_data.findAll('span', {'class' : 'fcab3ed991 bd73d13072'})]

In [19]:
room_price

['£215',
 '£133',
 '£199',
 '£87',
 '£426',
 '£239',
 '£195',
 '£175',
 '£267',
 '£255',
 '£199',
 '£304',
 '£180',
 '£230',
 '£152',
 '£239',
 '£254',
 '£170',
 '£219',
 '£259',
 '£240',
 '£217',
 '£199',
 '£239',
 '£213']

In [22]:
name = []
desc = []
rev = []
r_type = []
price = []
rating = []

def hotels(webpage):
    get_page = requests.get(url, headers=header)
    response = get_page.content
    webpage_data = BeautifulSoup(response, 'html5lib')
    hotel_name = webpage_data.findAll('div', {'data-testid' : 'title'})
    rating_description = webpage_data.findAll('div', {'class' : 'b5cd09854e f0d4d6a2f5 e46e88563a'})
    review = webpage_data.findAll('div', {'class' : 'd8eab2cf7f c90c0a70d3 db63693c62'})
    rating = webpage_data.findAll('div', {'class' : 'b5cd09854e d10a6220b4'})
    room_type = webpage_data.find_all('span', {'class' : 'df597226dd'})
    room_price = webpage_data.findAll('span', {'class' : 'fcab3ed991 bd73d13072'})
    for data in range(len(hotel_name)):
        name.append(hotel_name.text)
        desc.append(rating_description.text.strip('Show on map'))
        rev.append(review.text.strip())
        r_type.append(room_type.text.strip())
        price.append(room_price.text.strip(' reviews'))
        rating.append(rating.text.strip())
        
        
        
webpage = 'https://www.booking.com/searchresults.en-gb.html?ss=London&ssne=London&ssne_untouched=London&label=gen173nr-1FCAEoggI46AdIM1gEaFCIAQGYAQm4ARfIAQzYAQHoAQH4AQuIAgGoAgO4AtLB_JEGwAIB0gIkZDg0Y2M3MjYtZjc0Yy00OTI0LWFmNTEtNzFhOTc3MTY0ZjBk2AIG4AIB&sid=828d71aca926f8532f0cb1f47b533b81&aid=304142&lang=en-gb&sb=1&src_elem=sb&src=searchresults&dest_id=-2601889&dest_type=city&checkin=2022-08-30&checkout=2022-08-31&group_adults=2&no_rooms=1&group_children=0&sb_travel_purpose=leisure&offset='
pages = np.arange(0, 600, 25)
for page in pages:
    webpage = webpage + str(page)
    hotels(webpage)

AttributeError: ResultSet object has no attribute 'text'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [ ]:
data = {
    'hotel_name': name,
    'rating_description': desc,
    'reviews': rev,
    'room_type': r_type,
    'room_price': price,
    'rating': rating
}

In [21]:
hotel_data = pd.DataFrame(data)

In [22]:
hotel_data.head(10)

,hotel_name,rating_decription,reviews,room_type,room_price,rating
0,Sanderson London,Very good,653 reviews,Standard Double Room,£420,8.4
1,Sea Containers London,Fabulous,"4,906 reviews",Standard,£426,8.9
2,Britannia International Hotel Canary Wharf,Review score,"13,527 reviews",Standard Double Room without Window,£139,6.2
3,The Z Hotel Tottenham Court Road,Very good,"6,878 reviews",Double Room without Window,£200,8.3
4,The Z Hotel Holborn,Very good,"7,512 reviews",Z Inside Double (without a window),£200,8.4
5,The Z Hotel City,Very good,"5,426 reviews",Queen Room without Window,£215,8.0
6,DoubleTree by Hilton Hotel London - Tower of L...,Good,"10,925 reviews",King Room,£260,7.8
7,The Z Hotel Victoria,Very good,"5,750 reviews",Double Room without Window,£220,8.0
8,Montcalm Royal London House-City of London,Very good,"8,179 reviews",Deluxe Double Room,£302,8.4
9,Chelsea Cloisters,Good,"4,426 reviews",Studio,£199,7.1

In [23]:
hotel_data.shape

(25, 6)